# CMake ignores
_build/*

# Executables
bench_mmap
bench_pipe
bench_process_vm_readv
bench_rdtsc
bench_signal

# Visual Studio Code ignores
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json
!.vscode/extensions.json
